@tailwind base;
@tailwind components;
@tailwind utilities;

.homebody {
  background-image: url("assets/background.png");
  background-size: cover;
  min-height: 100vh;
}


.magbody {
  background-image: url("assets/background.png");
  min-height: 100vh;
  z-index: 0;

}
